# These values are for local development only. Replace them with your actual credentials.

# Database Configuration
PG_USERNAME=your_pg_username
PG_PASSWORD=your_pg_password
PG_DATABASE=your_pg_database
PG_HOST=localhost

# Environment
NEXT_PUBLIC_NODE_ENV=development

# API Keys
DATA_DOT_GOV_API_KEY=go get one at https://fdc.nal.usda.gov/api-guide.html